<footer class="footer text-center text-muted">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <p>
          Writing by <a href="https://twitter.com/jamesbeith">@jamesbeith</a><br>
          Senior Software Engineer at <a href="https://octopus.energy/">Octopus Energy</a>; Co-founder of <a href="https://www.gluedtomusic.com/">Glued to Music</a>; Previously at <a href="https://www.realmacsoftware.com/">Realmac Software</a>
        </p>
        <small>Copyright © {{ site.time | date: "%Y" }} James Beith. All rights reserved.</small>
      </div>
    </div>
  </div>
</footer>
