---
---

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 155px;
}

.header {
  margin-top: 30px;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 3rem;
  font-weight: 200;
}

article {
  margin-bottom: 50px;
}

article > header {
  margin-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 155px;
  padding-top: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.footer a {
  white-space: nowrap;
}
